doctype html
html
	head
		meta(name='viewport' content="width=device-width, initial-scale=1")
		block headers
		title CaptChat
	body
		block content
	footer
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="/scripts/jquery-ui.js")
		block feet
