#textSpan {
	font-size:20px;
	font-family:MomsTypewriter;
	visibility:hidden;
	height:auto;
	width:auto;
	white-space:nowrap
}
#input {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
#messages {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 30px;
	height: 95%;
	overflow-y: auto;
}
#messageWrapper {
	position: static;
}
.aMessage, .partnerMessage {
	margin-top: 3px;
	padding: 3px 5px 3px 5px;
	max-width: 80%;
	clear: both;
	border: 1px solid grey;
}
.aMessage {
	float: left;
	margin-right: auto;
}
.partnerMessage {
	float: right;
	margin-left: auto;
	text-align: right;
	margin-right: 20px;
}
body {
	overflow: hidden;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}
