/* Master Css */
html { overflow: hidden; }
body {
	font-family: sans-serif;
	margin: 0
}
header {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 70px;
}
h1 { margin: 10px; }
h2 {
	font-size: 38pt;
	text-align: center;
	margin: 0;
}
a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid black;
}
a:hover {
	color: #FFF;
	background: #787878;
	border-bottom: 1px solid #787878;
}
.submit {
	background-color: #27FF7D;
	border: 0;
	width: 125px;
	height: 35px;
	margin-top: 3px;
}
hr {
	border: 0;
	height: 2px;
	width: 900px;
	clear: left;
	margin: 5px auto;

	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:         linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
input {
	width: 162px;
	clear: both;
	padding: 3px;
	padding-left: 8px;
	border: 1px solid #787878;
}
input:focus {
	outline-color: black;
}
.chatBox input:focus {
	outline: none;
}
input:-webkit-autofill {
	/*This removes the annoying autofill highlighting chrome and firefox (and maybe IE) add*/
	-webkit-box-shadow: 0 0 0 1000px white inset;
	   -moz-box-shadow: 0 0 0 1000px white inset;
			box-shadow: 0 0 0 1000px white inset;
}
/* Changing highlighting colours
Unfortunatly you must use individual selectors with these */
::selection {
	background: #000;
	color: #FFF;
}
::-webkit-selection {
	background: #000;
	color: #FFF;
}
::-moz-selection {
	background: #000;
	color: #FFF;
}
::-webkit-validation-bubble-message {
	color: #fff;
	background: #000;
	border-color: #444;
	-webkit-box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
	   -moz-box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
	        box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
::-webkit-validation-bubble-arrow {
	background: #000;
	border-color: #444;
	-webkit-box-shadow: 0 0 0 0;
       -moz-box-shadow: 0 0 0 0;
    		box-shadow: 0 0 0 0;
}
.inputPage {
	padding-top: 0;
	width: 265px;
	margin: 0 auto;
}
.inputPage p {
	margin: 0 0 5px;
	text-align: center;
}
.inputPage label, .inputPage input, .sbHolder { display: inline-block; }
.inputPage label { width: 90px ; }
.submit {
	cursor: pointer;
	width: 100%;
	padding: 10px 20px;
	background: #000;
	color: #FFF;
	font-weight: bolder;
	font-size: 170%;
	border: 0;
	height: 53px;
}
.logo {
    height: 40vw;
    max-height: 50%;
    margin: auto;
    display: block;
}

/* Index */
.chatBox {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 5vh;
	min-height: 25px;
	max-height: 50px;
	width: inherit;
}
#input {
	position: fixed;
	bottom: 0;
	left: 0;
	width: inherit;
	box-sizing: border-box;
	border: 0;
	border-top: 1px solid black;
	background-color: #EEE;
}
#input:focus {
	outline: 0;
	background-color: #FFF;
}
.content {
	height: 100vh;
}
.js_messages {
	overflow: auto;
	height: 90vh;
	width: 100%;
	float: right;
}
.messageWrapper {
	float: left;
	width: 80%;
	min-width: 300px;
	height: 100vh;
	position: fixed;
	background-color: #fff;
}
.tabs {
	overflow: hidden;
	float: left;
	width: 100%;
	height: 25px;
	white-space: nowrap;
}
.tab {
	background-color: #EEE;
	cursor: pointer;
	display: inline-block;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	height: 24px;
	width: 12vw;
	max-width: 150px;
	min-width: 100px;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
}
.tab.selected {
	cursor: default;
	background-color: #FFF;
	line-height: 100%;
	font-weight: bold;
	border: 0;
}
.tab.selected + .tab {
	border-left: 1px solid black;
}
.tab.empty {
	width: 100%;
	background-color: #FFF;
	color: #FFF;
	max-width: 100%;
	text-align: right;
}
.tabName {
	display: block;
	text-align: center;
	position: relative;
	bottom: -5px;
	margin: 0 5px;
}
.grabber {
	cursor: pointer;
	float: right;
	width: 3px;
	height: 100vh;
	background: #999999;
	position: absolute;
	top: 0;
	right: 0;
}
.largeGrabber {
	width: 5px;
}
.contacts {
	overflow: auto;
	float: right;
	width: 20vw;
	min-width: 100px;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	height: 100vh;
}
.contact {
	cursor: pointer;
	display: inline-block;
	width: inherit;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	height: 50px;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
.contact:nth-of-type(odd) {
	background-color: #EEE;
}
.contact:nth-of-type(even) {
	background-color: #DFDFDF;
}
.contact .contactInfo {
	display: inline-block;
	vertical-align: middle;
}
.contact .icon {
	height: 40px;
	margin: 5px;
	vertical-align: middle;
}
.aMessage {
	float: left;
	margin-right: auto;
	margin-left: 5px;
}
.partnerMessage {
	float: right;
	margin-left: auto;
	text-align: right;
	margin-right: 5px;
}
.aMessage, .partnerMessage {
	margin-top: 3px;
	padding: 3px 5px 3px 5px;
	max-width: 80%;
	clear: both;
	border: 1px solid grey;
}
.hidden {
	visibility: hidden;
}
