extends layouts/index

block headers
	title CaptChat - Login
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	img(src="/images/logo.jpg" alt="CaptChat" class="logo")

block content
	.inputPage
		.loginForm
			h2 Log In
			p
				|Enter your username and password to log in or&thinsp;
				a(href='/register') Register
			form(method="post").userLogin
				.field-wrapper
					label(for="username") Username:
					input.username(required name="username", type="text", autocomplete="off", size="15")
				.field-wrapper
					label(for="password") Password:
					input.password(required name="password", type="password", size="15")
				input.submit(type="submit", value="Log In")
