extends layouts/index

block headers
	title CaptChat - #{view === 'login' ? 'Login' : 'Register'}
	img(src="/images/logo.png" alt="CaptChat" class="logo")

block content
	hr
	.inputPage
		.loginForm(class=view === 'login' ? undefined : 'hidden')
			h2 Log In
			p
				|Enter your username and password to log in or&thinsp;
				a.js_changePage(href='/register') Register
			form(method="post").userLogin
				.field-wrapper
					label(for="username") Username:
					input.username(required name="username", type="text", autocomplete="off", size="15")
				.field-wrapper
					label(for="password") Password:
					input.password(required name="password", type="password", size="15")
				input.submit(type="submit", value="Log In")
		.registerForm(class=view === 'register' ? undefined : 'hidden')
			h2 Register
			p
				| Return to&thinsp;
				a.js_changePage(href='/login') Login
			form(method="post", onsubmit='return checkPasses()').userRegister
				label(for="username") Username:
				input.username(required name="username", type="text", autocomplete="off", size="15")
				br
				label(for="password") Password:
				input.password(required name="password", type="password", size="15")
				br
				label(for="repPassword") Repeat:
				input.repPassword(required name="repPassword" type="password", size="15")
				br
				input.submit(type="submit", value="Register" )
block feet
	script.
		$(function() {
			function checkPasses() {
				return $('.password').val() === $('.repPassword').val();
			}
			function changeView( view ) {
				var time = 800
				if ( view == 'Register' ) {
					$('.loginForm').slideUp(time, 'easeOutCubic', function() {
						$('.registerForm').slideDown(time, 'easeOutCubic');
					});
				} else if ( view == 'Login' ) {
					$('.registerForm').slideUp(time, 'easeOutCubic', function() {
						$('.loginForm').slideDown(time, 'easeOutCubic');
					});
				} else { return; }
				document.title = 'CaptChat - ' + view;
				window.history.pushState('Object', "CaptChat - " + view, '/' + view.toLowerCase())
			}
			$('.js_changePage').click( function( event ) {
				event.preventDefault();
				changeView($(this).text());
			});
		});
