extends layouts/index

block headers
	title CaptChat - Register
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script.
		function checkPasses() {
			return $('.password').val() === $('.repPassword').val();
		}
	img(src="/images/logo.jpg" alt="CaptChat" class="logo")

block content
	.inputPage
		.registerForm
			h2 Register
			p
				| Return to&thinsp;
				a(href='/login') Login
			form(method="post", onsubmit='return checkPasses()').userRegister
				label(for="username") Username:
				input.username(required name="username", type="text", autocomplete="off", size="15")
				br
				label(for="password") Password:
				input.password(required name="password", type="password", size="15")
				br
				label(for="repPassword") Repeat:
				input.repPassword(required name="repPassword" type="password", size="15")
				br
				input.submit(type="submit", value="Register" )
