doctype html
html
	head
		title CaptChat
		link(rel='stylesheet', type='text/css', href='css/captchat.css')
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(type="text/javascript", src="/scripts/Font.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/scripts/openpgp.min.js")
		script(type="text/javascript", src="/scripts/captchat.js")
		script(type="text/javascript", src="/scripts/connection.js")
		script.
			var fontNames = new Array('moms'); //Add font name without file extension, must be .ttf
			$((function() {
				//Preloads font
				CaptChat.tCtx   = document.getElementById('textCanvas').getContext('2d');

				for (var i = fontNames.length - 1; i >= 0; i--) {
					var font = new Font();
					font.src = '/fonts/' + fontNames[i] + '.ttf';
					font.fontFamily = fontNames[i];
					CaptChat.font = font;
				}
				if(#{openshift}) {
					var port = window.location.protocal == 'http:' ? '8000' : '8443';
					Connection.connect(window.location.origin + ':' + port );
				} else {
					Connection.connect(window.location.origin);
				}
			}));
	body
		div
			.messageWrapper
				.messages.js_messages
			canvas#textCanvas(width=150, height=30)
			br
	footer
		input#input(type="text", autocomplete="off" onkeypress="CaptChat.runScript(event)")
		audio#notify
			source(src="/sounds/notify.ogg" type="audio/ogg")
			source(src="/sounds/notify.mp3" type="audio/mpeg")
