doctype html
html
	head
		title CaptChat - Login
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	body
		.loginForm
			form(method="post").userLogin
				.field-wrapper
					label(for="username") Username:
					input.username(required name="username", type="text", autocomplete="off", size="15")
				.field-wrapper
					label(for="password") Password:
					input.password(required name="password", type="password", size="15")
				input.submit(type="submit", value="Log In")
