doctype html
html
	head
		title CaptChat - Register
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script.
			function checkPasses() {
				return $('.password').val() === $('.repPassword').val();
			}
	body
		.registerForm
			form(method="post", onsubmit='return checkPasses()').userRegister
				.field-wrapper
					label(for="username") Username:
					input.username(required name="username", type="text", autocomplete="off", size="15")
				.field-wrapper
					label(for="password") Password:
					input.password(required name="password", type="password", size="15")
				.field-wrapper
					label(for="repPassword") Repeat:
					input.repPassword(required name="repPassword" type="password", size="15")
				input.submit(type="submit", value="Register" )
