doctype html
html
	head
		title CaptChat - Register
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="scripts/jquery.form.js")
		script.
			$('.userRegister').ajaxForm({
				beforeSubmit: function() {
					return $('.regPass').val() == $('.repPass').val();
				},
				success: function(responseText, status, xhr, $form) {
					if (status == 'success') alert('User added');
				},
				error: function(e) {
					alert(e.responseText);
				}
			});
	body
		.registerForm
			form(method="post").userRegister
				.field-wrapper
					label(for="regUser") Username:
					input.regUser(required name="regUser", type="text", autocomplete="off", size="15")
				.field-wrapper
					label(for="regPass") Password:
					input.regPass(required name="regPass", type="password", size="15")
				.field-wrapper
					label(for="repPass") Repeat:
					input.repPass(required type="password", size="15")
				input.submit(type="submit", value="Register")
